* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header, footer {
    background-color: rgb(42, 161, 165);
    color: rgb(191, 15, 235);
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.animales {
    width: 90%;
    margin: 1rem auto;
    position: relative;
}


.control-group  label, input {
    display: block;
    width: 100%;
}

.control-group  input {
    border: 0px;
    border-bottom: 1px solid gray
}

.flex {
    display: flex;
}

.output {
    min-height: 60vh;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.lista {
    color: black;
    background-color: rgba(185, 116, 30, 0.281);
    width: 50%;
    padding: 1rem 0.2rem;
}

.tabla {
    color:red;
    background-color: rgb(149, 227, 233); 
    width: 50%;
    padding: 1rem 0.2rem;
}


.lista ol, .lista ul {
    list-style: lower-greek;
    margin: 0;
    /* padding: 0; */
}

.tabla tr:nth-of-type(2n) {
    background-color: rgb(236, 225, 63);
}

.borrar {
    font-size: 0.8rem;
    cursor: pointer;
}

dialog {
    border: none;
    background-color: rgb(228, 18, 18);
    color: rgb(251, 255, 196);
    text-align: center;
}