
img {
    /* width: fit-content; */
    max-width: 100%;
}

p {
    text-align: justify;
}


.image-wrapper-50 {

    width: 50%;
    float: right;
    margin-left: 1rem;

}

.image-wrapper-25 {

    width: 25%;
}

.image-wrapper-75 {

    width: 75%;
}
.clearfix {
    clear: both;
    border-top: 1px solid gainsboro;
}

.fondos {
    height: 100vh;
    background-color: #6F789A;
/*     aplicar color por seguridad antes de la imagen por si no carga */
    background-image: url('../assets/Park.jpg');
    background-repeat: no-repeat;
    /* background-size: contain; */
    background-size: cover;
    /* background-blend-mode: filtros de color para imagenes */
    
}

.h2 {
    text-align: center;
}
.fondos h2 {
    text-align: center;
    line-height: 50vh;
    color:black;
}