header {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 0rem;
    align-items: center;
    background-color: rgb(15, 130, 238);
    color: white;
}

header h1 {
    margin: 0;
    width: 90%;
    text-align:center;
}

header div {
    width: 10%
}

header div img {
    max-width: 100%;
}